GEMINI_API_KEY= 
GEMINI_MODEL=gemini-2.0-flash
 
# Firebase/Firestore Configuration
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
 
# Application Settings
RESUME_STORAGE_PATH=./data/resumes

PINECONE_API_KEY= 

UID=1000
GID=1000

LANGSMITH_API_KEY= 
LANGSMITH_PROJECT=vsmart-resume-extraction
LANGSMITH_TRACING=true